* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

:root {
    --numberOfPetals: 6;
    --primaryColor: blue;
    --secondaryColor: skyblue;
    --tertiaryColor: black;
    --textBorder: .1vh;
}

/* BOXPAGE */

header {
    width: 100vw;
    height: 7vh;
    background-color: var(--primaryColor);

    display: flex;
    align-items: center;
}

header span {
    font-size: 5vh;

    position: absolute;
    left: 5vh;
}

header img {
    width: 5vh;
    filter: brightness(0) invert(1);
    
    position: absolute;
    right: 5vh;
}

main {
    width: 100vw;
    height: 90vh;
    background-color: white;

    position: relative;
}

footer {
    width: 100vw;
    height: 3vh;
    background-color: var(--primaryColor);

    display: flex;
    align-items: center;
    justify-content: center;
}

footer span {
    font-size: 1.5vh;
}

/* MENU */

#menu {
    width: 8vh;
    height: 30vh;
    
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#menu .box {
    width: 30vh;
    height: 8vh;
    margin-bottom: 1vh;
    border-radius: 50px;
    background-color: var(--primaryColor);
    border: .2vh solid black;
    box-shadow: 3px 3px 30px 0px black;

    position: relative;
    right: 22vh;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    transition: right 1s, background-color .2s, scale .2s;
}

#menu .box:hover {
    background-color: var(--secondaryColor);
    scale: 1.1;
    right: 10vh;

    transition: right 1s, background-color .2s, scale .2s;
}

#menu .box .icon {
    height: 6vh;
    margin-right: 1vh;
    filter: brightness(0) invert(1);
}

#menu .box .text {
    font-size: 3vh;
    margin-right: 1vh;
}

/* NAVPAGE */

#navpage {
    width: 17vh;
    height: 8vh;

    position: absolute;
    bottom: 4vh;
    right: 4vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navpage .box {
    width: 8vh;
    height: 8vh;
    display: inline-block;

    background-color: var(--primaryColor);
    border-radius: 50%;
    border: .2vh solid black;
    box-shadow: 3px 3px 30px 0px black;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color .3s, scale .3s;
}

#navpage .box:hover {
    background-color: var(--secondaryColor);
    scale: 1.2;

    transition: all .6s;
}

#navpage .box img {
    width: 100%;
    filter: brightness(0) invert(1);
}

#navpage .box:last-child img {
    rotate: 180deg;
}

/* SELECTOR */

#selector {
    width: 40vh;
    height: 40vh;

    border-radius: 5vh;
    background-color: brown;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#selector .selectorBox {
    width: 16vh;
    height: 8vh;

    border-radius: 50%;
    background-color: white;
    transform-origin: right;

    position: absolute;
    left: 50%;
    top: 50%;
    translate: -100% -50%;

    display: flex;
    align-items: center;
    justify-content: start;
}

#selector .selectorBox:nth-of-type(1) { rotate: calc(360 / var(--numberOfPetals) * 1deg); }
#selector .selectorBox:nth-of-type(2) { rotate: calc(360 / var(--numberOfPetals) * 2deg); }
#selector .selectorBox:nth-of-type(3) { rotate: calc(360 / var(--numberOfPetals) * 3deg); }
#selector .selectorBox:nth-of-type(4) { rotate: calc(360 / var(--numberOfPetals) * 4deg); }
#selector .selectorBox:nth-of-type(5) { rotate: calc(360 / var(--numberOfPetals) * 5deg); }
#selector .selectorBox:nth-of-type(6) { rotate: calc(360 / var(--numberOfPetals) * 6deg); }

#selector .selectorBox:hover {
    background-color: whitesmoke;
}

#selector .selectorBox:hover .selectorText{
    display: inline-block;
}

#selector .selectorBox .selectorText {
    font-size: 2vh;
    margin-left: 2vh;
    text-shadow: var(--textBorder) var(--textBorder) 0 black, calc(-1 * var(--textBorder)) calc(-1 * var(--textBorder)) 0 black, calc(-1 * var(--textBorder)) var(--textBorder) 0 black, var(--textBorder) calc(-1 * var(--textBorder)) 0 black, var(--textBorder) 0 0 black, calc(-1 * var(--textBorder)) 0 0 black, 0 var(--textBorder) 0 black, 0 calc(-1 * var(--textBorder)) 0 black;

    display: none;
}

#selector #center {
    width: 8vh;
    height: 8vh;

    border-radius: 50%;
    background-color: yellow;

    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

/* PAGE */

.page {
    width: 80vw;
    height: 80vh;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.page .title {
    width: 100%;
    height: 7.5vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.page .title .text {
    font-size: 4vh;
    text-shadow: var(--textBorder) var(--textBorder) 0 black, calc(-1 * var(--textBorder)) calc(-1 * var(--textBorder)) 0 black, calc(-1 * var(--textBorder)) var(--textBorder) 0 black, var(--textBorder) calc(-1 * var(--textBorder)) 0 black, var(--textBorder) 0 0 black, calc(-1 * var(--textBorder)) 0 0 black, 0 var(--textBorder) 0 black, 0 calc(-1 * var(--textBorder)) 0 black;
}

/* HISTORY */

#history .content {
    width: 100%;
    height: calc(80vh - 7.5vh);

    overflow: auto;
}

#history .content .text {
    font-size: 3vh;
    text-shadow: var(--textBorder) var(--textBorder) 0 black, calc(-1 * var(--textBorder)) calc(-1 * var(--textBorder)) 0 black, calc(-1 * var(--textBorder)) var(--textBorder) 0 black, var(--textBorder) calc(-1 * var(--textBorder)) 0 black, var(--textBorder) 0 0 black, calc(-1 * var(--textBorder)) 0 0 black, 0 var(--textBorder) 0 black, 0 calc(-1 * var(--textBorder)) 0 black;
}

/* VIDEOS */

#videos .video {
    width: 100%;
    height: calc(80vh - 7.5vh);

    display: flex;
    align-items: center;
    justify-content: center;
}

#videos .video .window {
    width: 90%;
    aspect-ratio: 1.777;
}

/* EXERCISES */

#exercises .page .containerBox {
    width: 100%;
    height: calc(80vh - 7.5vh - 6vh);

    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#exercises .page .containerBox .box {
    width: 100%;
    height: 6vh;

    margin: .5vh 0vh;
    padding: 2vh;
    border-radius: 1vh;

    display: flex;
    align-items: center;
    justify-content: start;
}

#exercises .page .containerBox .box .text {
    font-size: 3vh;
    text-shadow: var(--textBorder) var(--textBorder) 0 black, calc(-1 * var(--textBorder)) calc(-1 * var(--textBorder)) 0 black, calc(-1 * var(--textBorder)) var(--textBorder) 0 black, var(--textBorder) calc(-1 * var(--textBorder)) 0 black, var(--textBorder) 0 0 black, calc(-1 * var(--textBorder)) 0 0 black, 0 var(--textBorder) 0 black, 0 calc(-1 * var(--textBorder)) 0 black;
}

#exercises .page .containerBox .box .input {
    width: 10vh;
    height: 3vh;

    font-size: 2vh;
    margin: 0 1vh;
    text-shadow: var(--textBorder) var(--textBorder) 0 black, calc(-1 * var(--textBorder)) calc(-1 * var(--textBorder)) 0 black, calc(-1 * var(--textBorder)) var(--textBorder) 0 black, var(--textBorder) calc(-1 * var(--textBorder)) 0 black, var(--textBorder) 0 0 black, calc(-1 * var(--textBorder)) 0 0 black, 0 var(--textBorder) 0 black, 0 calc(-1 * var(--textBorder)) 0 black;
}

#exercises .page .correctBox {
    width: 100%;
    height: 6vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#exercises .page .correctBox .correctButton {
    width: 14vh;
    height: 5vh;

    font-size: 3vh;
    text-shadow: var(--textBorder) var(--textBorder) 0 black, calc(-1 * var(--textBorder)) calc(-1 * var(--textBorder)) 0 black, calc(-1 * var(--textBorder)) var(--textBorder) 0 black, var(--textBorder) calc(-1 * var(--textBorder)) 0 black, var(--textBorder) 0 0 black, calc(-1 * var(--textBorder)) 0 0 black, 0 var(--textBorder) 0 black, 0 calc(-1 * var(--textBorder)) 0 black;
}